/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 40px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.text-left {
  display: table-cell;
  padding: 200px 0px 0px 60px;
}
.text-left h1 {
  font-size: 10em;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
  text-shadow: 4px 4px 4px #000000;
}

.text-left h2 {
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  padding: 0px 0px 15px 0px;
}

.thumbnail {
    display: block;
    padding: 0px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 0px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* additional sections */
#home {
  background: url(../img/patrick-head.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
  background-color: #f1f1f1;
}

#skills {
  background-color: #f1f1f1;
  color: #000000;
}
#skills .glyphicon {
  border: 2px solid #000000;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#work {
  /*background: url(../img/swing.jpg) no-repeat center center fixed; */
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#places .panel {
  opacity: 0.85;
}


footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}
