.center{
  text-align: center;
}

.nav {
  border-bottom: 1px solid #dbdbdb;
}

.nav a {
  color: #5a5a5a;
  font-size: 12px;
  font-weight: regular;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.nav ul{
  padding-left: 0;
  padding-top: 12px;
  padding-bottom: 0px;
}

.jumbotron {
  background-image:url('https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/1558528_10204565511845105_776479461273697580_n.jpg?oh=5ae56667d26b5691df88e1d9c0091f71&oe=569C8CFA');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #A0A0A0;
  font-size: 48px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.row {
  margin-top: 20px
}

.work {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
}

.work h2 {
    color: #393c3d;
    font-size: 24px;
}

.work p {
    font-size: 15px;
    margin-bottom: 13px;
}
