body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
}

h1{
  font-size: 40px;
  font-weight: normal;
}

h2{
  font-size; 40%;
  font-weight: normal;
}

img {
  border: .5px solid;
  border-radius: 100px;
}

ul {
  padding: 10px;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

a:link {
  color: #000000;
}

.center{
  text-align:center;
}

.container-narrow{
  width: 50%;
  margin: 0 auto;
}

.social-links{
  font-size: 30px;
}
