body{
  font-size: 20px;
}

h1{
  font-size: 50px;
  font-weight: normal;
}

h2{
  font-size; 40%;
  font-weight: normal;
}

img {
  border-radius: 50px;
}

ul {
  padding: 10px;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
